html, body {
	overflow: hidden;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	display: table;
	font-family: 'Michroma', sans-serif;
}

#game {
	position: relative;
	float: left;
	display: block;
}

#menu {
	padding: .5em 0 0;
	right: 2em;
	top: 2em;
	display: block;
	width: 18.5em;
	float: right;
	border: 5px solid #000000;
	background-color: #ffffff;
	position: absolute;
	display: none;
}

#menuButtons {

	padding: 0 .5em .2em;
}

#menu canvas {

	border: 5px solid transparent;
}

#menu .active {

	border: 5px solid #ff0000;
}

a.button, #editButton, #exitButton, .content li a {
	padding: .8em 1.4em .8em;
	margin: 0 .5em .5em .5em;
	border: 5px solid #000000;
	background-color: #ffffff;
	color: #000000;
	display: block;
	text-align: center;
	font-size: 1em;
	text-decoration: none;
	font-weight: bold;
}

#editButton, #exitButton {
	margin: 0;
	position: absolute;
	width: 5em;
	top: 6.5em;
	right: 2em;
	display: inline-block;
}

#exitButton {
	top: 2em;
}

a.button:hover, .content li a:hover, #editButton:hover, #exitButton:hover {
	border-color: #ff0000;
	background-color: #000000;
	color: #ff0000;
}

.content {	
	height: auto;
	width: auto;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.content h1, .content h2, .content h3 {
	color: #ff0000;
	margin: 0;
	text-shadow:
		.04em  .04em  0 #000,
		-.04em  -.04em  0 #000,  
		.04em  -.04em  0 #000,
		-.04em  .04em  0 #000,
		.04em  .04em  0 #000;
}

.content h1 {
	font-size: 4em;
}

.content h2 {
	font-size: 3em;
	margin-bottom: .5em;
}

.content h3 {
	font-size: 2em;
	margin-bottom: .5em;
}

.content ul {

	list-style: none;
	padding: 0;
	margin: 0;
}

.content li {

	list-style: none;
	padding: 0;
	margin: 0 0 .5em;
}
